environment:
  matrix:
    - nodejs_version: "6"
    - nodejs_version: "8"
    - nodejs_version: "10"

platform:
  - x64
  - x86

install:
  - ps: Install-Product node $env:nodejs_version
  - npm --msvs_version=2015 install

test_script:
  - node -e "console.log(`${process.version} ${process.arch} ${process.platform}`)"
  - npm --version
  - npm test

build: off
